@charset "UTF-8";

/*
Paleta de cores: 
preto: #2A2D34
amarelo: #F9C80E
verde: #488B49
azul: #258EA6
ciano: #549F93
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    background-color: #549F93;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    background: #549F93 url(../imagens/pexels-gabriel-tovar-2156003919-36380933.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: right bottom;
    display: block;   
}
section#login > div#formulario{
    padding: 10px;
    display: block;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
form > div.campo{
    background-color: #F9C80E;
    border: 2px solid #F9C80E;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
div.campo > label{
    display: none;
}
div.campo > span{
    color: #396b63;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo > input{
    background-color: #70d3c2;
    font-size: 1em;
    width: calc(100% - 39px);
    margin-left: 38px;
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-42px);
}
div.campo > input:focus-within{
    background-color: white;
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #549F93;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #396b63;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #549F93;
    border-radius: 7px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: #70d3c2;
}
form > a.botao > span {
    font-size: 0.8em;
}